<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h4>Contact me</h4>
            <div class="social-links">
                <a href="https://github.com/nilamkk" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/nilam-kumar-kalita-467851177/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://twitter.com/KrNilam" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/nilam.kalita.184" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021  designed by <span>NKK</span></p>
    </div>
</footer>
