<div class="links-to-surf">
    <ul class="links-to-surf-ul">
        
        {{#if isTeacher}}
            <li><a href="/teachers/me">My Profile</a></li>
            <li><a href="/teachers/logout">Log Out</a></li>
            <li><a href="/allNotesPage">All Notes</a></li>
            <li><a href="/addNotes">Add New Notes</a></li>
            <li><a href="/teacherNotes">My Notes</a></li>        
        {{else}}
            <li><a href="/students/me">My Profile</a></li>
            <li><a href="/students/logout">Log Out</a></li>
            <li><a href="/allNotesPage">All Notes</a></li>
            <li><a href="/studentNotes">My Notes</a></li>         
        {{/if}}
    </ul>
</div>