{{!-- <div class="notes-card background-color">
    <span id="name-span">Name</span>
    <span>Semester</span>
    <span>Subject</span>
    <span id="uploaded-on-span">Uploaded on</span>
    <span>Uploaded by</span>
</div> --}}

<tr>
    <th id="name-span">Name</th>
    <th>Semester</th>
    <th>Subject</th>
    <th id="uploaded-on-span">Uploaded on</th>
    <th>Uploaded by</th>
    <th></th>
</tr>