    <div class="page-numbers-container">
        <p>
            {{#each reqRange}}
                <span class="page-numbers" onclick="changePageFun(this)">{{this}}</span>
            {{/each}}
        </p>
        
        <hr>
        <p id="current-page"></p>
    </div>

    <script type="text/html" id="sort-by-script">
        {{sortBy.criteria}}_{{sortBy.mode}}_{{activatePage}}
    </script>