<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/signLogBox.css">
        <link rel="shortcut icon" href="/pics/book-solid.svg" type="image/svg+xml">
        <title>Log in</title>
    </head>
    <body>
        <header class="header-style">
            <h1>Study Material Hub</h1>
        </header>
        <div class="signup-full-container">
            <div class="login-box">
                <h3>LOG IN</h3>
                <form action="/teachers/login" method="POST">
                    <p class="error-message">{{error}}</p>
                    <p class="signup-inner-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="example@domain.com" required>
                    </p>
                    
                    <p class="signup-inner-group">
                        <label>Password  </label>
                        <input type="password" name="password" placeholder="password" required>
                    </p>
                    <button class="login-btn">Log in</button>
                    <p class="para-OR">OR</p>
                    <p class="signup-btn">Sign up</p> 
                </form>
            </div>
        </div>
        <script>
            document.querySelector('.signup-btn').addEventListener('click',()=>{
                location.assign('/signup/teacher/page')
            })
        </script>
    </body>
</html>