<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/signup.css">
        <title>Document</title>
    </head>
    <body>
        <header class="header-style">
            <h1>Study Material Hub</h1>
        </header>
        <div class="signup-full-container">
            <div class="login-box">
                <h3>LOG IN</h3>
                <form action="/students/login" method="POST">

                    <span>{{error}}</span>
                    <div class="signup-inner-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="example@domain.com" required>
                    </div>
                    <div class="signup-inner-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password" required>
                    </div>
                    <button class="signup-button">Log in</button>
                    <p class="para-OR">OR</p>
                    <a href="/signup/student/page" class="login-btn">Sign up</a>
                </form>
            </div>
        </div>
    </body>
</html>