<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/CSS/notesHome.css">
    </head>
    <body>
        <div class="main-container">
            <div class="content-container">
                <h2 class="header-text">
                    Study Material HUB
                </h2>
                <div class="choice-container">
                
                    <form class="choice-form-1">
                        <div class="inner-text">
                            <label >Enter as a :</label>
                            <select name="user" class="dropdown-home">
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                            </select>
                        </div>
                        
                        <button class="main-button">Enter</button>
                    </form>
                    
                </div>

            </div>
        </div>

        <script src="/clientJS/notesHome.js"></script>
    </body>
</html>