<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/pics/book-solid.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/CSS/signLogBox.css">
        <title>Sign Up</title>
       
    </head>
    <body>
        <header class="header-style">
            <h1>Study Material Hub</h1>
        </header>
        <div class="signup-full-container">
            <div class="login-box">
                <h3>SIGN UP</h3>
                <form action="/students/signup" method="POST">
                    <p class="error-message">{{error}}</p>

                    <p class="signup-inner-group">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Full name" required>
                    </p>
                    
                    <p class="signup-inner-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="example@domain.com" required>
                    </p>

                    <p class="signup-inner-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password" required>
                    </p>
                    <p class="signup-inner-group">
                        <label>Scholar ID</label>
                        <input type="text" name="scholar_no" placeholder="scolar id" required>
                    </p>
                    <p class="signup-inner-group">
                        <label>Branch</label>
                        <input type="text" name="branch" placeholder="branch" required>
                    </p>

                    <p class="signup-inner-group">
                        <label>Section</label>
                        <input type="text" name="section" placeholder="section" required>
                    </p>
                    <p class="signup-inner-group">
                        <label>Semester</label>
                    <input type="text" name="semester" placeholder="semester" required>
                    </p>

                    <button class="login-btn">Sign up</button>
                    <p class="para-OR">OR</p>
                    <p class="signup-btn">Log in</p>    
                </form>
            </div>
        </div>

        <script>
            document.querySelector('.signup-btn').addEventListener('click',()=>{
                location.assign('/login/student/page')
            })
        </script>

    </body>
</html>


{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/signup.css">
</head>
<body>
    
    <header class="header-style">
        <h1>Study Material Hub</h1>
    </header>

    <div class="signup-full-container">
        
        <div class="signup-box">
            
            <h3>SIGN UP</h3>
            
            <form action="/students/signup" method="POST">
                <span>{{error}}</span>
                <div class="signup-inner-group">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Full name" required>
                </div>


                <div class="signup-inner-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="example@domain.com" required>
                </div>
                <div class="signup-inner-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" required>
                </div>
                <div class="signup-inner-group">
                    <label>Scholar ID</label>
                    <input type="text" name="scholar_no" placeholder="scolar id" required>
                </div>
                <div class="signup-inner-group">
                    <label>Branch</label>
                    <input type="text" name="branch" placeholder="branch" required>
                </div>
                <div class="signup-inner-group">
                    <label>Section</label>
                    <input type="text" name="section" placeholder="section" required>
                </div>
                <div class="signup-inner-group">
                    <label>Semester</label>
                    <input type="text" name="semester" placeholder="semester" required>
                </div>
                <button class="signup-button">Sign up</button>
                <p class="para-OR">OR</p>
                <p class="login-btn"><a href="/login/student/page" >Log in</a></p>
                
            </form>
        </div>
        
    </div>
</body>
</html> --}}