<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            * {
                box-sizing: border-box;
            }
            html,body {
                margin:0;
                height: 100%;
            }
            .header-style {
                height: 100px;
                background-color: hsl(0,0%,0%,0.9);
            }
            .header-style h1 {
                text-align: center;
                color: white;
                margin: 0;
                padding-top: 10px;
            }
            .signup-full-container{
                height: 100%;
                background-color: tomato;
                padding: 20px;
            }
            .login-box{
                background-color: white;
                width: 25%;
                min-width: 310px;
                margin: auto;
                border-radius: 5px;
                padding: 1em;
            }
            .login-box h3{
                text-align: center;
            }
            
            .signup-inner-group input {
                height: 32px;
                width: 100%;
                border:1px solid coral;
            }
            input:focus {
                border: 1px solid #1670BE;
                box-shadow: 0 0 2px #44bdf5;
                outline-offset: 0px;
                outline: none;
            }
            .signup-btn {
                width: 100%;
                margin: 8px;
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: auto;
                padding: 5px;
                border:1px solid coral;
                text-align: center;
            }
            .signup-btn:hover {
                background-color: rgb(240, 43, 9);
                color: white;
                cursor: pointer;
            }
            .login-btn {
                width: 100%;
                height: 30px;
                border:1px solid coral;
                color: black;
                background-color: white;
                cursor: pointer;
            }
            .login-btn:hover {
                color: white;
                background-color: rgb(240, 43, 9);
                cursor: pointer;
            }
            .para-OR{
                text-align: center;
                margin: 8px;
            }
        </style>
    </head>
    <body>
        <header class="header-style">
            <h1>Study Material Hub</h1>
        </header>
        <div class="signup-full-container">
            <div class="login-box">
                <h3>SIGN UP</h3>
                <form action="/students/signup" method="POST">
                    <span>{{error}}</span>

                    <p class="signup-inner-group">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Full name" required>
                    </p>
                    
                    <p class="signup-inner-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="example@domain.com" required>
                    </p>

                    <p class="signup-inner-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password" required>
                    </p>
                    <p class="signup-inner-group">
                        <label>Scholar ID</label>
                        <input type="text" name="scholar_no" placeholder="scolar id" required>
                    </p>
                    <p class="signup-inner-group">
                        <label>Branch</label>
                        <input type="text" name="branch" placeholder="branch" required>
                    </p>

                    <p class="signup-inner-group">
                        <label>Section</label>
                        <input type="text" name="section" placeholder="section" required>
                    </p>
                    <p class="signup-inner-group">
                        <label>Semester</label>
                    <input type="text" name="semester" placeholder="semester" required>
                    </p>

                    <button class="login-btn">Sign up</button>
                    <p class="para-OR">OR</p>
                    <p class="signup-btn">Log in</p>    
                </form>
            </div>
        </div>

        <script>
            document.querySelector('.signup-btn').addEventListener('click',()=>{
                location.assign('/login/student/page')
            })
        </script>

    </body>
</html>


{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/signup.css">
</head>
<body>
    
    <header class="header-style">
        <h1>Study Material Hub</h1>
    </header>

    <div class="signup-full-container">
        
        <div class="signup-box">
            
            <h3>SIGN UP</h3>
            
            <form action="/students/signup" method="POST">
                <span>{{error}}</span>
                <div class="signup-inner-group">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Full name" required>
                </div>


                <div class="signup-inner-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="example@domain.com" required>
                </div>
                <div class="signup-inner-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" required>
                </div>
                <div class="signup-inner-group">
                    <label>Scholar ID</label>
                    <input type="text" name="scholar_no" placeholder="scolar id" required>
                </div>
                <div class="signup-inner-group">
                    <label>Branch</label>
                    <input type="text" name="branch" placeholder="branch" required>
                </div>
                <div class="signup-inner-group">
                    <label>Section</label>
                    <input type="text" name="section" placeholder="section" required>
                </div>
                <div class="signup-inner-group">
                    <label>Semester</label>
                    <input type="text" name="semester" placeholder="semester" required>
                </div>
                <button class="signup-button">Sign up</button>
                <p class="para-OR">OR</p>
                <p class="login-btn"><a href="/login/student/page" >Log in</a></p>
                
            </form>
        </div>
        
    </div>
</body>
</html> --}}