<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/pics/book-solid.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/CSS/signLogBox.css">
        <title>Sign Up</title>

    </head>
    <body>
        <header class="header-style">
            <h1>Study Material Hub</h1>
        </header>
        <div class="signup-full-container">
            <div class="login-box">
                <h3>SIGN UP</h3>
                <form action="/teachers/signup" method="POST">
                    <p class="error-message">{{error}}</p>

                    <p class="signup-inner-group">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Full name" required autocomplete="off">
                    </p>
                    
                    <p class="signup-inner-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="example@domain.com" required autocomplete="off">
                    </p>

                    <p class="signup-inner-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password(min len: 7)" required autocomplete="off">
                    </p>
                    <p class="signup-inner-group">
                        <label>Department</label>
                    <input type="text" name="department" placeholder="eg: CSE" required autocomplete="off">
                    </p>

                    <button class="login-btn">Sign up</button>
                    <p class="para-OR">OR</p>
                    <p class="signup-btn">Log in</p>    
                </form>
            </div>
        </div>

        <script>
            document.querySelector('.signup-btn').addEventListener('click',()=>{
                location.assign('/login/teacher/page')
            })
        </script>

    </body>
</html>
